<div align="center">
<p id="notice"><%= notice %></p>

<h1 align="center"><font color="blue">Available Blogs</font></h1>

<table align="center" bgcolor="#B7B9A8">
<col width="40">
  <col width="10">
  <col width="50">
  <col width="10">
  <thead>
    <tr>
      <th colspan="10" bgcolor="#D7F111">Title</th>
	  <th></th>
      <th colspan="10" bgcolor="#D7F111">Body</th>
	  <th></th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td colspan="10"><%= post.title %></td>
		<td></td>
        <td colspan="10"><%= post.body %></td>
		<td></td>
        <td colspan="10"><%= link_to 'Show', post %></td>
+    <% if user_signed_in? %>
+      <% if current_user.id == post.user_id %>
+    <td><%= link_to 'Edit', edit_post_path(post) %></td>
+    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
+      <% end %>
+    <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
</div>
