<div align="center">

<h1 align="center"><font color="blue">Create New Post</font></h1>
<table bgcolor="#B7B9A8" >
<col width="300">
<th align="left">
<%= render 'form' %>
</th></table>
<%= link_to 'Back', posts_path %>
</div>
