<div align="center">
  
<table bgcolor="#B7B9A8"><col width="300"><th>


<p>
  <h2 align="left"><font color="blue" >Title:</font></h2>
  <%= @post.title %>
</p>

<p>
  <h2 align="left"><font color="blue">Content:</font></h2>
  <%= @post.body %>
</p>

 <h2 align="left"><font color="blue">Comments:</font></h2>
<div id = "comments">

<%= render :partial => @post.comments.reverse %>

</div>

<%= form_for([@post, Comment.new], remote: true) do |f| %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<p><%= f.label :body, "New Comment" %><br />
		<%= f.text_area :body %>
		<%= f.hidden_field :user_id, value: current_user.id %>
	</p>
	<p><%= f.submit "Add Comment" %></p>
<% end %>


<%= link_to 'Back', posts_path %>
</th></table>
</div>
